// Color Variables

$primary: #58e1c1; 
// Line 26, 46, 150, 203
$secondary: #777;
// Line 8, 32
$link: #51ddfc;
// Line 36, 114, 169
$info: #927bc1;
// Line 74,  177
$warning: #fd7856;
// Line 78, 185
$error: #e4757a;
// Line 106, 173
$success: #63cc82;
// Line 110, 181
$white: #fff;
// Line 149, 161, 



// Breakpoint Variables
$med: 768px;